* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    padding: 0 20px;
    background-color: rgb(220, 220, 220);
}

.titre,
.section {
    width: calc(100% - 40px);
    max-width: 900px;
    padding: 20px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(140, 140, 140);
}

.titre h1 {
    margin-left: 50px;
    color: rgb(120, 150, 220);
    font-weight: bold;
    font-size: 2.5em;
}

.titre h2 {
    margin-left: 50px;
    color: rgb(130, 210, 255);
    font-weight: normal;
    font-size: 1.5em;
}

.section h1 {
    margin: 20px 0 20px 50px;
    color: rgb(120, 150, 220);
    font-weight: bold;
    font-size: 1.5em;
}

.section p {
    margin: 10px 0;
    text-indent: 25px;
}